/*Pallette: 
Borders: 2F2235
Hover: 3F3244
Background: 60495A
Background 2: 8b8d8b
BFC3BA
Text: white
*/



.prefillEntry {
    display: flex;
    align-items: center;
    resize: none;
}

.prefillEntryBox {
    font-size: medium;
    text-align: left;
    background-color: #8b8d8b;
    color: white;
    border: 2px solid #2F2235;
    border-radius: 5px;
    padding: 5px 50px 5px 5px;
    width: 450px;
}

.prefillEntryBox:hover {
    background-color: #3F3244;
}


.prefillBox {
    font-size: large;
    background-color: #60495A;
    color: white;
    border: 3px solid #2F2235;
    padding: 5px 5px 5px 5px;
    margin: 20px 20px 40px 20px;
}

.prefillEditBox {
    border: 3px solid #2F2235;
    margin: 10px 5px 10px 5px;
    padding: 5px 5px 5px 5px;
    background-color: #8b8d8b;
}

.prefillEditBoxColumns {
    display: flex;
    align-items: center;
    resize: none;
}
.prefillEditBoxColumnLeft {
    border: 3px solid #2F2235;
    display: grid;
    padding: 0px 15px 0px 0px;
}

.prefillEditBoxEntry:hover {
    background-color: #3F3244;
}